/*
Green Color - #268545;
Hover Green - #1e6636;
Background-color light gray - #dfe6e9
Background-color light green - #e8ffe3

/*----------------------------------*/
/*----------Basic Setup-------------*/
/*----------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Anton", "Poppins", sans-serif;
  font-size: 20px;
  background-color: #fff;
  color: #fff;
  overflow-x: hidden;
}

/*----------------------------------*/
/*----------Text Setup-------------*/
/*----------------------------------*/

/*----------Headings-------------*/
h1 {
  font-size: 3.5rem;
  text-transform: uppercase;
}

h3 {
  font-size: 1.7rem;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: "poppins";
  text-transform: uppercase;
  margin-bottom: 20px;
}

h4 {
  font-weight: normal;
  margin-top: 20px;
  font-size: 1.3rem;
  font-family: poppins;
  color: #000;
}

h6 {
  color: #000;
  font-size: 1rem;
  font-family: "poppins", Courier, monospace;
  text-align: center;
  font-weight: normal;
}
/*----------------------------------*/
/*----------Buttons-------------*/
/*----------------------------------*/

button {
  width: 200px;
  height: 50px;
  background-color: #268545;
  border-radius: 7px;
  outline: none;
  padding: 0;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 0.7rem;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #1e6636;
  transition: ease-in 0.3s;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*----------------------------------*/
/*----------Header-------------*/
/*----------------------------------*/

.backgroundimg-text-box {
  position: absolute;
  top: 35%;
  left: 10%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(https://raw.githubusercontent.com/i1s-rishabh/MFA-RO-Website-Project/main/images/homeimg.webp);
  height: 600px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

p {
  font-family: "poppins", Courier, monospace;
}

/*----------SVG Wave-------------*/
.section-wave {
  position: absolute;
  top: 1;
  transform: translateY(-100%);
  width: 100vw;
  line-height: 0;
  will-change: transform;
  z-index: 1;
  overflow: hidden;
}

.section-wave svg {
  fill: #e8ffe3;
  width: 100%;
  height: 30px;
}

.section-wave-white svg {
  fill: #fff;
}

/*----------------------------------*/
/*----------Section 1-------------*/
/*----------------------------------*/

.sec1 {
  padding: 50px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.heading-sec1,
.heading-sec4 {
  font-size: 1.5rem;
  color: #000;
  text-transform: capitalize;
  letter-spacing: 0;
}

.paragraph-sec1 {
  padding: 10px 0;
}

.paragraph-sec1,
.paragraph-sec3 {
  color: #777;
  font-size: 0.7rem;
  font-family: "poppins", Courier, monospace;
}

.sec1 .col-left {
  max-width: 55%;
}

.col-right img {
  padding: 30px;
  max-width: 450px;
  max-height: 450px;
}

/*----------------------------------*/
/*----------Section 2-------------*/
/*----------------------------------*/

.sec2 {
  padding: 50px 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.sec2 .col-left {
  color: #222;
  font-family: "poppins", Courier, monospace;
}

/*----------------------------------*/
/*----------Section 3-------------*/
/*----------------------------------*/

.sec3 {
  padding: 50px 100px;
  text-align: center;
}

.center-text {
  text-align: center;
  color: #000;
  font-size: 2rem;
  font-weight: normal;
  font-family: "poppins", Courier, monospace;
  text-transform: uppercase;
  letter-spacing: 3px;
}

hr {
  width: 20%;
  height: 2px;
  border-width: 0;
  background-color: #268545;
  margin: 0 auto;
  margin-bottom: 30px;
}

.sec3 p:nth-of-type(1) {
  margin-bottom: 30px;
}

.sec3 p {
  width: 100%;
  height: auto;
  background-color: #e8ffe3;
  border-radius: 10px;
  padding: 30px;
  margin-bottom: 50px;
  transition: box-shadow 0.3s 0.1s ease;
  text-align: center;
}

.sec3 p:hover {
  box-shadow: 0px 7px 10px -5px rgb(128, 128, 128);
}

/*----------------------------------*/
/*----------Section 4-------------*/
/*----------------------------------*/

.sec4 {
  padding: 50px 100px;
}

/*----------------------------------*/
/*----------Product Cards-------------*/
/*----------------------------------*/

main {
  padding: 2rem 0;
}

img {
  max-width: 100%;
  height: auto;
}

.bg-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /*max-width: 1200px;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  align-items: center;*/
  gap: 1.8rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  overflow: hidden;
}

article:nth-child(1),
article:nth-child(2),
article:nth-child(3),
article:nth-child(4) {
  background-color: #e8ffe3;
}

.card-img {
  width: 250px;
  height: 250px;
  padding: 3rem;
  transition: 0.5rem;
}

.card-name {
  position: absolute;
  top: 0;
  width: 2.5rem;
  height: 100%;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  background-color: black;
  color: whitesmoke;
  padding: 15px 10px;
  font-family: "poppins", Courier, monospace;
  font-weight: 600;
  font-size: 0.8rem;
  left: -25%;
  transition: 0.5s;
}

.card:hover {
  box-shadow: 7px 7px 10px -5px rgb(128, 128, 128);
}

.card:hover .card-name {
  left: 0;
}

.card:hover .card-img {
  transition: 1s ease-in-out;
  margin-left: 2rem;
}

/*----------------------------------*/
/*----------Product Cards End-------------*/
/*----------------------------------*/

/*----------------------------------*/
/*----------Section 5-------------*/
/*----------------------------------*/

.sec5 {
  padding: 50px 100px;
  margin-bottom: 50px;
  position: relative;
}

.form-box {
  width: 60%;
  max-height: 600px;
  background-color: #e8ffe3;
  color: #000;
  font-family: "poppins", Courier, monospace;
  border-radius: 10px;
  padding: 50px;
  margin: 50px auto 100px;
  text-align: center;
  transition: box-shadow 0.3s 0.1s ease;
}

.form-box:hover {
  box-shadow: 0px 7px 10px -5px rgb(128, 128, 128);
}

input,
textarea {
  display: block;
  width: 80%;
  height: 30px;
  background-color: #fff;
  border-radius: 10px;
  margin: 15px 10px 0px 0px;
  padding: 5px;
  border: 2px solid #777;
  text-align: center;
  transition: 0.25s;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

input:focus,
textarea:focus {
  border: 3px solid #555;
  border-radius: 10px;
  outline: none;
  width: 100%;
}

textarea {
  margin-top: 60px;
  height: 100px;
}

#submit-btn {
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: #268545;
  color: #fff;
  text-transform: uppercase;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

#submit-btn:hover {
  background-color: #1e6636;
}

/*----------------------------------*/
/*----------Banner-------------*/
/*----------------------------------*/

.banner {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
  height: auto;
  background-color: #e8ffe3;
  border-radius: 10px;
  padding: 30px;
  transition: box-shadow 0.3s 0.1s ease;
  text-align: center;
}

.banner:hover {
  box-shadow: 0px 7px 10px -5px rgb(128, 128, 128);
}

.banner h3 {
  color: #000;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
}

.banner h2 {
  text-transform: capitalize;
  margin-bottom: 30px;
}

/*----------------------------------*/
/*----------Footer-------------*/
/*----------------------------------*/

footer {
  background-color: #e8ffe3;
  font-family: "poppins", Courier, monospace;
  font-size: 0.8rem;
  color: black;
  padding: 50px;
  display: flex;
  justify-content: space-around;
}

.col {
  width: 25%;
}

.col:nth-of-type(1) {
  padding-left: 50px;
}

a {
  text-decoration: none;
  color: #000;
}

.social-handles li,
.fa-envelope,
.fa-map-marker {
  list-style: none;
  display: inline-block;
  margin: 0px 5px 0px 0px;
}

.fa-twitter:hover {
  color: #1da1f2;
  transition: 0.3s ease-in-out;
}

.fa-facebook:hover {
  color: #1877f2;
  transition: 0.3s ease-in-out;
}

.fa-google:hover {
  color: #ea4335;
  transition: 0.3s ease-in-out;
}

.fa-linkedin:hover {
  color: #0a66c2;
  transition: 0.3s ease-in-out;
}

/*--------Attribution--------*/

.attribution {
  font-family: "poppins", Courier, monospace;
  background-color: #268545;
  width: 100%;
  height: 40px;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}
